<%- layout('./layout/boilerplate.ejs') %>

<div class="container mt-5">
  <h2 class="mb-4">Create a New Bookmark</h2>

  <form action="/collections/<%= collection._id %>/bookmarks/<%= bookmark._id %> ?_method=put" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-control" value="<%= bookmark.title %>" placeholder="Title" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a title .</div>
    </div>

    <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" id="url" name="url" class="form-control" placeholder="URL" value="<%= bookmark.url %>" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a URL.</div>
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" id="category" name="category" class="form-control" value="<%= bookmark.category %>" placeholder="e.g. Frontend, Learning">
    </div>

    <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" id="tags" name="tags" class="form-control" value="<%= bookmark.tags %>" placeholder="Separate with commas" oninput="updateTagPreview(this.value)">
        <div class="mt-2">
            <small class="text-muted">Preview:</small>
            <div id="tag-preview" class="mt-1"></div>
        </div>
    </div>

    <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea id="notes" name="notes" class="form-control" rows="3" placeholder="Any extra info">
            <%= bookmark.notes %>
        </textarea>
    </div>

    <div class="form-actions mt-4">
      <button type="submit" class="btn btn-success">Update Bookmark</button>
      <a href="/collections/<%= collection._id %>" class="btn btn-secondary">Back</a>
    </div>
  </form>
</div>